In [ ]:
# object-types

# object - for representing string values.
# int - for representing integer values.
# float - for representing float values.
# datetime - for representing time values.
# bool - for representing Boolean values.

In [10]:
import pandas
df = pandas.read_csv("world_alcohol.csv")     # read into dataframe

print(df.head())                       # first 5 rows, can also specify
print()

print(df.columns)      # display full list of columns
print()

print(df.shape)    # info of rows, colums
print()

print(df.loc[6])   # get row, can pass in slice or list
print()

df["Country"]   #  retrieve a single column (pass in list for multiple)

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

(3257, 5)

Year                   1987
WHO region           Africa
Country           Mauritius
Beverage Types         Wine
Display Value          0.13
Name: 6, dtype: object

0                                                Viet Nam
1                                                 Uruguay
2                                            Cte d'Ivoire
3                                                Colombia
4                                   Saint Kitts and Nevis
5                                               Guatemala
6                                               Mauritius
7                                                  Angola
8                                     Antigua and Barbuda
9                                                 Nigeria
10                                               Botswana
11                                              Guatemala
12                       Lao People's Democratic Republic
13                                            Afghanistan
14                                               Viet Nam
15                                          Guinea-Bissau
16                                             Costa Rica
17                                             Seychelles
18                                                 Norway
19                                                  Kenya
20                                                Myanmar
21                                             Costa Rica
22                                                Romania
23                                                 Turkey
24                                                Comoros
25                                                Tunisia
26      United Kingdom of Great Britain and Northern I...
27                                                Bahrain
28                                               Viet Nam
29                                                  Italy
                              ...
3227                     Bolivia (Plurinational State of)
3228                                           Madagascar
3229                     Bolivia (Plurinational State of)
3230                                               France
3231                                              Morocco
3232                                             Paraguay
3233                                       Czech Republic
3234                                                 Fiji
3235                                               Belize
3236                                           Seychelles
3237                                               Canada
3238                                                 Fiji
3239                                             Viet Nam
3240                                             Slovenia
3241                                             Djibouti
3242                                               Poland
3243                                             Slovakia
3244                                 United Arab Emirates
3245                                                India
3246                                               Poland
3247                                               Latvia
3248                                             Bulgaria
3249                                               Turkey
3250                                              Iceland
3251                                               Angola
3252                             Central African Republic
3253                                                 Fiji
3254                                          Switzerland
3255                                     Papua New Guinea
3256                                            Swaziland
Name: Country, dtype: object